.GalleryContainer {
    margin-top: 10px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 0 5px;
}

.image-list img {
    width: 250px; 
    height: 300px; 
    object-fit: cover;
    border-radius: 20px;
}
